body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    max-width: 800px;
}

.image-container {
    width: 40%;
    display: flex; /* Menambahkan flexbox untuk pusat gambar */
    justify-content: center; /* Memusatkan gambar */
    align-items: center; /* Memusatkan gambar secara vertikal */
}

.image-container img {
    max-width: 100%; /* Mengatur lebar gambar maksimal 100% dari container */
    height: auto; /* Mengatur tinggi gambar otomatis untuk menjaga proporsi */
    object-fit: contain; /* Menjaga proporsi gambar */
}

.text-container {
    width: 60%;
    padding: 20px;
}

h1 {
    color: #ff6347;
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

strong {
    font-size: 18px;
    color: #ff6347;
}